// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

h1{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
}

#header div{
  background-color: indianred;
  padding: 25px 0;
}

//making elements square
.square:before{
  content: "";
  display: block;
  padding-top: 100%; 	/* initial ratio of 1:1*/
}

.cakes{
  display: flex;
  flex-wrap: wrap;
}

.thumbnail, .thumbnail-add{
  padding: 0 !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.thumbnail .title{
  display: none;
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  text-align: center;
  padding-top: 20%;
  text-transform: uppercase;
  font-size: 16px;
}

.thumbnail-add .title{
  position: absolute;
  color: white;
  width: 150px;
  height: 150px;
  top: 50%;
  margin-top: -75px;
  left: 50%;
  margin-left: -75px;
  line-height: 150px;
  background-color: #ccc;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}

.thumbnail:hover .title {
  display: block;
}

.thumbnail-add:hover .title {
  color: #ddd;
  background-color: #aaa;
}

#footer{
  width: 100%;
  position: relative;
  height: 100px;
}

#cakeImage{
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;
  height: 500px;
}

#cakeImagePreview{
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  height: 200px;
}

#cakeData{
  //width: 100%;
  //text-align: center;
  display: flex;
  flex-wrap: wrap;
}

#yums{
  width: 250px;
  margin: 0 auto;
  height: 40px;
}

.yum{
  width: 40px;
  height: 40px;
  float:left;
  margin-right: 10px;
  //border: 1px solid black;
  line-height: 40px;
  text-align: center;
  background-color: #ccc;
  color: #fff;
  font-weight:bold;
  border-radius: 40px;
}

.yum.active {
  background-color: indianred;
}

.pointer{
  cursor: pointer;
}

.yum.pointer:hover{
  width: 38px;
  height: 38px;
  margin-left: 1px;
  margin-right: 11px;
  line-height: 38px;
  border-radius: 38px;
  margin-top: 1px;
}

.gap{
  width: 100%;
  height: 25px;
  position: relative;
}

#back, .comment{
  text-align: center;
}

input, textarea, h4, h3, h2{
  width: 100%;
  text-align: center;
  padding: 5px;
}

input, textarea{
  border: 1px solid #eee;
  outline: none;
}

.submit{
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  background-color: indianred;
  cursor: pointer;
  margin: 0 auto;
  font-size: 16px;
  color:#fff;
}

.submit:hover{
  width: 98px;
  height: 38px;
  line-height: 38px;
  margin: 1px auto;
  //font-size: 15px;
}